<h1>Yo Yo World from EJS.</h1>

    
<li>Yo, my name is Slade and I am a <%= myTypeClient %></p>
<li>click here to see my <a href="https://github.com/sladeberryman/november-486" target="_blank">NOVEMBER repo</a></p>
<li>click here to see my <a href="https://github.com/sladeberryman/mike-486" target="_blank">MIKE repo</a></p>
<li>click here to see my <a href="https://mike-486-l0ni.onrender.com/" target="_blank">MIKE on Render</a></p>
<li>click here to see <a href="/home">html</a></p>
    



